---
export interface Props {
    title?: string;
    class?: string;
}

const { title, class: className = '' } = Astro.props as Props;
---

<div class:list={['card card-shadows', className]}>
    {title && <h3>{title}</h3>}

    <div class="card-body">
        <slot />
    </div>
</div>

<style>
    .card-body {
        @apply text-balance;
    }
</style>
