---
export interface Props {
    title?: string;
    class?: string;
}

const { title, class: className = '' } = Astro.props as Props;
---

<div class:list={['border-2 border-border-default px-[16px] pt-[16px] dark:border-border-default-dark', className]}>
    {title && <h3 class="mt-[2px]! md:mt-[4px]!">{title}</h3>}

    <div>
        <slot />
    </div>
</div>
