---
import { SITE } from '@config/site';

interface SocialLink {
    name: string;
    url: string;
}

const socialLinks: SocialLink[] = [];
---

<div class="flex flex-wrap gap-3">
    {
        socialLinks.map((link) => (
            <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                class="[&:hover,&:focus]:bg-active dark:[&:hover,&:focus]:bg-active-dark flex h-9 w-9 items-center justify-center rounded-lg border border-border-default dark:border-border-default-dark"
                aria-label={link.name}
                title={link.name}
            ></a>
        ))
    }
</div>
